# Functions

**Functions and methods are used in the same way, but are syntactically different. You can define your own function but you cannot create your own method. Methods are pre-defined properties belonging to Python Class, and must be attached to the object of that Class.**

    func(input)
    input.method()
    
## Built-in Functions

**You have already used many built-in functions, e.g. `print()` or `input()`.**

In [51]:
# Returns string
input_nums = input("Please enter three numbers separated by comma: ")

# Split string on each comma
string_nums = input_nums.split(",")

# Convert string numbers to integers
int_nums = []

for num in string_nums:
    int_nums.append(int(num))
    
# Perform calculation (a + b - c)
answer = (int_nums[0] + int_nums[1]) - int_nums[2]

print(answer)

Please enter three numbers separated by comma: 10,11,10
11

## String methods

**The most common string methods are `join` and `split`.**

In [4]:
flowers = ["Daffodil", "Evening Primrose", "Hydrangea", "Iris", "Lavender", "Sunflower", "Tiger Lily"]

In [5]:
separator = " | "

output = separator.join(flowers)

print(output)

Daffodil | Evening Primrose | Hydrangea | Iris | Lavender | Sunflower | Tiger Lily

In [6]:
pangram = "The quick brown fox jumps over the lazy dog"

words = pangram.split()

print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [8]:
string_nums = "9,202,0.1,50,2,10,0.5,90"

nums = string_nums.split(sep=",")

print(nums)

['9', '202', '0.1', '50', '2', '10', '0.5', '90']

**You can use join and split methods together:**

In [32]:
numbers = "9,202,54,554,20,10,308,90"

seps = ","

# Joins all characters in string (inc whitespace) if not a comma
joined = "".join(char if char not in seps else " " for char in numbers)

print(joined)

# Splits string on each whitespace
values = "".join(char if char not in seps else " " for char in numbers).split()

print(values)

9 202 54 554 20 10 308 90
['9', '202', '54', '554', '20', '10', '308', '90']

**Now you can easily convert those strings to integer datatypes using list comprehension, `for` loops or converting with built-in mapping function:**

In [28]:
# Replace values in place

for index in range(len(values)):
    values[index] = int(values[index])
    
values

[9, 202, 54, 554, 20, 10, 308, 90]

In [29]:
type(values[0])

int

In [33]:
# Create new list and append integer items

num_values = []

for value in values:
    num_values.append(int(value))

In [34]:
print(num_values)

[9, 202, 54, 554, 20, 10, 308, 90]

In [30]:
# In Python 3, this is better

values = list(map(int, values))

In [31]:
values

[9, 202, 54, 554, 20, 10, 308, 90]