# `print()` function

**The `print()` function has 5 arguments with default settings:**

    *objects
    sep=' '
    end='\n'
    file=None
    flush=False
    
**The objects can be any expression or variable, separated by a comma. Python interprets this comma as a whitespace, defined in `sep` argument. Each print statement ends on a new line, and the `flush` option is for buffering purposes. The `file` argument must be an object that can be printed.**

**NOTE: An expression is anything that can be computed to return a value. Binding a variable is an expression, but referencing the variable in another expression is also an expression.**

In [1]:
# String literal

print("Hello, World!")

Hello, World!

In [2]:
# Numeric literal

print(123456789)

123456789

In [3]:
# Math expression

print(1 + 2)

3

In [4]:
print(7 * 6)

42

In [5]:
# Multiple expressions

print(1 + 2, 7 * 6)

3 42

In [6]:
print()

In [7]:
# Concatenate strings

print("hello" + "world")

helloworld

In [8]:
print("hello" + " " + "world")

hello world

**Escape characters allow you to insert special characters in your print statements.**

In [9]:
split_string = "This string has \nbeen split over \nseveral \nlines"

print(split_string)

This string has
been split over
several
lines

In [10]:
tabbed_string = "1 \t2 \t3 \t4 \t5"

print(tabbed_string)

1 	2 	3 	4 	5

In [11]:
# Use three quotes for large text excerpts (no need to use escape characters)

print("""The human heart has hidden treasures, In secret kept, in silence sealed; 
The thoughts, the hopes, the dreams, the pleasures, 
Whose charms were broken if revealed.""")

The human heart has hidden treasures, In secret kept, in silence sealed;
The thoughts, the hopes, the dreams, the pleasures,
Whose charms were broken if revealed.

In [12]:
print("I left \xA350 \"there\" and now its gone\\missing")

I left Â£50 "there" and now its gone\missing

In [13]:
# Use raw string property (r) to allow 'raw' text - not used often

print(r"C:\Users\Shmel\repositories")

C:\Users\Shmel\repositories

**Another Python function, which accepts string input only, is the `input()` function:**

In [14]:
greeting = "Hello "

name = input("Enter name here ")

print(greeting + name)

Enter name here Smelly
Hello Smelly

# Variables

**Bind an object to a meaningful name, then reference it in another command. The name is assigned using `=` symbol, and datatype is automatically determined by Python, meaning it is a 'strongly typed' language.**

In [15]:
age = 24

In [16]:
type(age)

int

In [17]:
type(greeting)

str

**You can assign new values to an existing variable at any point:**

In [18]:
age = "24 years old"

In [19]:
type(age)

str

In [20]:
# Python can cope with differences in datatype because it is strongly typed

print(greeting + "my age is", age)

Hello my age is 24 years old

# Datatypes

**Python has built-in datatypes:**

* **numeric** (integer, float and complex numbers that have no size limit)
* **iterator** (list, tuple, dictionary and set)
* **sequence** (string, list, tuple, range of numbers, bytes and bytearray)
* **mapping**
* **file**
* **class**
* **exception**

**Note that all datatypes have no size limit in Python, and only your computer memory affects the amount of data you can hold.**

## Numeric Operations

**There is a specific list of operators that can be used with numerics.**

In [21]:
a, b = (12, 3)

In [22]:
a + b

15

In [23]:
a - b

9

In [24]:
a * b

36

In [25]:
a / b

4.0

In [26]:
# Division with integer result (rounded to minus infinity)

a // b

4

In [43]:
## How // is useful:

for i in range(1, a / b):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
for i in range(1, a // b):
    print(i)

1
2
3

In [28]:
# Remainder after division

a % b

0

In [29]:
a + b**2

21

**There is an operator precedence (applies to all maths, not just Python), which means there is an order of priority to how the operators are computed in an expression. Multiplication and Division have equally higher importance than addition and subtraction.**

&emsp;**`*`** &emsp;**`/`**

&emsp;**`+`** &emsp;**`-`**

In [30]:
print(a + b / 3 - 4 * 12)

-35.0

**If read from right-to-left, the expression equals 12. However, if done properly:**

**b / 3 = 1 and 4 * 12 = 48**

**The calculation becomes 12 + 1 - 48 = -35. If you need the expression to be calculated in order of appearance, use parentheses.**

In [31]:
print((((a + b) / 3) - 4) * 12)

12.0

## Sequence Operations

**Sequences are an ordered set of items, e.g. the string "hello" has 5 items.**

**You've seen how to print string statements, but you can also extract individual characters or parts of the string by 'indexing' or 'slicing' respectively.**

**NOTE: Python indexing starts from 0, not 1.**

**NOTE: Slicing starts from a given index position and moves up to, but does not include, an end index position. You can optionally add a step in the range, i.e. skip steps.**

                                            my_string[start:stop:step]
                                            
**You know you are slicing when there is a colon `:`.**

In [1]:
parrot = "Norwegian Blue"

In [2]:
parrot[0]

'N'

In [3]:
# Slicing

parrot[0:9]

'Norwegian'

In [4]:
parrot[10]

'B'

In [5]:
# Slicing

parrot[10:]

'Blue'

In [6]:
print(parrot[3])
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])

w
e

w
i
n

**Negative indexing means starting from the end of the sequence, rather then the beginning**

In [7]:
# Slicing

parrot[-4:-3]

'B'

In [8]:
# Slicing

parrot[-4:]

'Blue'

In [9]:
parrot[-14]

'N'

In [10]:
print(parrot[-11])
print(parrot[-1])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])

w
e

w
i
n

In [11]:
print(parrot[3 - 14])
print(parrot[4 - 14])
print(parrot[9 - 14])
print(parrot[3 - 14])
print(parrot[6 - 14])
print(parrot[8 - 14])

w
e

w
i
n

In [12]:
parrot[3:5]

'we'

In [13]:
# Skip one step

parrot[0:13:2]

'NreinBu'

**When you see the step value as `-1`, you can assume that the sequence is read in reverse (make sure the start value is larger than the stop value when reading in reverse):**

In [14]:
letters = "abcdefghijklmnopqrstuvwxyz"

In [15]:
# 'qpo'

letters[-10:-13:-1]

#letters[16:13:-1]

'qpo'

In [16]:
# 'edcba'

letters[4::-1]

'edcba'

In [17]:
# Last 8 characters (in reverse)

letters[:-9:-1]

'zyxwvuts'

**When you omit the start or stop value, but keep the colons, Python knows to read to the end of the sequence.**

In [18]:
letters[-1::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [19]:
letters[25::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [20]:
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

**We know that index 0 returns the first character, but what if the string is empty?**

In [21]:
empty_string = ""

In [22]:
empty_string[0]

IndexError: string index out of range

**However, if you slice the elements literally to return index 0, i.e. start at the beginning and stop after 1st character, there is no error message:**

In [23]:
empty_string[:1]

''

**This is useful if you need your code to run without crashing everytime it comes across an empty string.**

**Why would you need to slice numerical strings?**

In [24]:
number = "9,227,394,726,590,342,886"

In [25]:
seps = number[1::4]

print(seps)

,,,,,,

In [26]:
# Extract number with punctuation removed

digits = "".join(char if char not in seps else "" for char in number).split()

value = [int(val) for val in digits]

In [27]:
print(value)

[9227394726590342886]

In [29]:
# List sequence with one element --> a long integer

len(value)

1

**More sequence operations, other than indexing and slicing, are concatenation or duplication. These are notated by mathematical operators:**

**`+` for concatenation**

**`*` for duplication (multiplication)**

**NOTE: The `range()` is the only sequence datatype that cannot be concatenated or duplicated.**

In [30]:
string_1 = "He's"

string_2 = "probably"

string_3 = "pining"

string_4 = "for the"

string_5 = "fjords"

In [31]:
string_1 + string_2 + string_3 + string_4 + string_5

"He'sprobablypiningfor thefjords"

In [33]:
string_1 + " " + string_2 + " " + string_3 + " " + string_4 + " " + string_5

"He's probably pining for the fjords"

In [34]:
string_5 * 5

'fjordsfjordsfjordsfjordsfjords'

In [35]:
print(value)

[9227394726590342886]

In [36]:
print(value * 2)

[9227394726590342886, 9227394726590342886]

**You can check whether one string is a sub-string of another string, using `in` operator, which works with any sequence. The operators `in` and `not in` are formally known as identity operators.**

In [37]:
today = "Saturday"

print("Sat" in today)

True

In [38]:
print("Thurs" in today)

False

In [39]:
print("Thurs" not in today)

True

**You can also replace parts of sequence, since it is ordered. F-strings allow you to print mixture of datatypes in a print statement, without using datatype conversion functions.**

In [40]:
print(f"Pi is approximately {22 / 7:12.50f}")

Pi is approximately 3.14285714285714279370154144999105483293533325195312

In [45]:
print(f"Pi is approximately {22 / 7:50.50f}")

Pi is approximately 3.14285714285714279370154144999105483293533325195312

**Even though F-strings are most powerful format specifiers in Python 3, `format()` method is used more commonly.**

In [73]:
flower = "rose"

colour = "red"

print("The {0} is {1}".format(flower, colour))

The rose is red

In [ ]:
# In Python, all functions return a value

# Booleans

**Booleans are expressions or values that evaluate to `True` or `False`.**

In [1]:
if 0:
    print("True")
else:
    print("False")

False

**The value `0` evaluates to `False` in Boolean expressions, so the `if` statement above will always evaluate to False - because `0` cannot be True.**

**Empty sequences also evaluate to `False` when present in Boolean expressions, i.e. `''`, `""`, `[]`, `()`, `{}` etc.**

In [3]:
name = input("Enter name: ")

# i.e. name != ""
if name:
    print("Hello {}".format(name))
else:
    print("Do you not have a name?")

Enter name:
Do you not have a name?

# Lists

**List datatype is a sequence, and an *iterable*.**

In [1]:
shopping_list = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

In [2]:
for item in shopping_list:
    if item != 'spam':
        print("Buy {}".format(item))

Buy milk
Buy pasta
Buy eggs
Buy bread
Buy rice

**Use of `break` and `continue` commands when searching through lists:**

In [3]:
# Continue command does the same thing as excluding a value

for item in shopping_list:
    if item == 'spam':
        continue
        
    print("Buy", item)

Buy milk
Buy pasta
Buy eggs
Buy bread
Buy rice

In [4]:
# Break command takes you out of the loop completely when item is found

item_to_find = 'spam'
# Index position for spam (None means no value...yet)
found_at = None

# Loop over index positions in list
for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at = index
        break
        
print(found_at)

3