# Nested List Comprehensions

**Just like nested `for` loops, you can get nested comprehensions.**

In [1]:
burgers = ["beef", "chicken", "spicy bean"]

toppings = ["cheese", "egg", "beans", "spam"]

In [2]:
meals = [(burger, topping) for burger in burgers for topping in toppings]

print(meals)

[('beef', 'cheese'), ('beef', 'egg'), ('beef', 'beans'), ('beef', 'spam'), ('chicken', 'cheese'), ('chicken', 'egg'), ('chicken', 'beans'), ('chicken', 'spam'), ('spicy bean', 'cheese'), ('spicy bean', 'egg'), ('spicy bean', 'beans'), ('spicy bean', 'spam')]

In [4]:
# Equivalent for loop

for burger in burgers:
    for topping in toppings:
        print((burger, topping))

('beef', 'cheese')
('beef', 'egg')
('beef', 'beans')
('beef', 'spam')
('chicken', 'cheese')
('chicken', 'egg')
('chicken', 'beans')
('chicken', 'spam')
('spicy bean', 'cheese')
('spicy bean', 'egg')
('spicy bean', 'beans')
('spicy bean', 'spam')

**By adding brackets to the nested comprehension, you can re-structure the output as you need. Note that the `toppings` list has become the outer iterable now, even though the order hasn't changed in the syntax.**

In [5]:
meals = [[(burger, topping) for burger in burgers] for topping in toppings]

print(meals)

[[('beef', 'cheese'), ('chicken', 'cheese'), ('spicy bean', 'cheese')], [('beef', 'egg'), ('chicken', 'egg'), ('spicy bean', 'egg')], [('beef', 'beans'), ('chicken', 'beans'), ('spicy bean', 'beans')], [('beef', 'spam'), ('chicken', 'spam'), ('spicy bean', 'spam')]]

In [6]:
# Outer loop uses `toppings`

for meals in [[(burger, topping) for burger in burgers] for topping in toppings]:
    print(meals)

[('beef', 'cheese'), ('chicken', 'cheese'), ('spicy bean', 'cheese')]
[('beef', 'egg'), ('chicken', 'egg'), ('spicy bean', 'egg')]
[('beef', 'beans'), ('chicken', 'beans'), ('spicy bean', 'beans')]
[('beef', 'spam'), ('chicken', 'spam'), ('spicy bean', 'spam')]

In [7]:
# Outer loop uses `burgers`

for meals in [[(burger, topping) for topping in toppings] for burger in burgers]:
    print(meals)

[('beef', 'cheese'), ('beef', 'egg'), ('beef', 'beans'), ('beef', 'spam')]
[('chicken', 'cheese'), ('chicken', 'egg'), ('chicken', 'beans'), ('chicken', 'spam')]
[('spicy bean', 'cheese'), ('spicy bean', 'egg'), ('spicy bean', 'beans'), ('spicy bean', 'spam')]

**Based on nested `for` loops that produces the twelve-times table (values 1-12), build the nested list comprehension to produce the same result.**

**You can iterate over the number ranges to either print the list or produce same output as below.**

In [14]:
for i in range(1, 13):
    for j in range(1, 13):
        print(i, i * j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
2 2
2 4
2 6
2 8
2 10
2 12
2 14
2 16
2 18
2 20
2 22
2 24
3 3
3 6
3 9
3 12
3 15
3 18
3 21
3 24
3 27
3 30
3 33
3 36
4 4
4 8
4 12
4 16
4 20
4 24
4 28
4 32
4 36
4 40
4 44
4 48
5 5
5 10
5 15
5 20
5 25
5 30
5 35
5 40
5 45
5 50
5 55
5 60
6 6
6 12
6 18
6 24
6 30
6 36
6 42
6 48
6 54
6 60
6 66
6 72
7 7
7 14
7 21
7 28
7 35
7 42
7 49
7 56
7 63
7 70
7 77
7 84
8 8
8 16
8 24
8 32
8 40
8 48
8 56
8 64
8 72
8 80
8 88
8 96
9 9
9 18
9 27
9 36
9 45
9 54
9 63
9 72
9 81
9 90
9 99
9 108
10 10
10 20
10 30
10 40
10 50
10 60
10 70
10 80
10 90
10 100
10 110
10 120
11 11
11 22
11 33
11 44
11 55
11 66
11 77
11 88
11 99
11 110
11 121
11 132
12 12
12 24
12 36
12 48
12 60
12 72
12 84
12 96
12 108
12 120
12 132
12 144

In [12]:
twelve_times = [(i, i * j) for i in range(1, 13) for j in range(1, 13)]

print(twelve_times)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (1, 11), (1, 12), (2, 2), (2, 4), (2, 6), (2, 8), (2, 10), (2, 12), (2, 14), (2, 16), (2, 18), (2, 20), (2, 22), (2, 24), (3, 3), (3, 6), (3, 9), (3, 12), (3, 15), (3, 18), (3, 21), (3, 24), (3, 27), (3, 30), (3, 33), (3, 36), (4, 4), (4, 8), (4, 12), (4, 16), (4, 20), (4, 24), (4, 28), (4, 32), (4, 36), (4, 40), (4, 44), (4, 48), (5, 5), (5, 10), (5, 15), (5, 20), (5, 25), (5, 30), (5, 35), (5, 40), (5, 45), (5, 50), (5, 55), (5, 60), (6, 6), (6, 12), (6, 18), (6, 24), (6, 30), (6, 36), (6, 42), (6, 48), (6, 54), (6, 60), (6, 66), (6, 72), (7, 7), (7, 14), (7, 21), (7, 28), (7, 35), (7, 42), (7, 49), (7, 56), (7, 63), (7, 70), (7, 77), (7, 84), (8, 8), (8, 16), (8, 24), (8, 32), (8, 40), (8, 48), (8, 56), (8, 64), (8, 72), (8, 80), (8, 88), (8, 96), (9, 9), (9, 18), (9, 27), (9, 36), (9, 45), (9, 54), (9, 63), (9, 72), (9, 81), (9, 90), (9, 99), (9, 108), (10, 10), (10, 20), (10, 30), (10, 40), (10, 50), (10, 60), (10, 70), (10, 80), (10, 90), (10, 100), (10, 110), (10, 120), (11, 11), (11, 22), (11, 33), (11, 44), (11, 55), (11, 66), (11, 77), (11, 88), (11, 99), (11, 110), (11, 121), (11, 132), (12, 12), (12, 24), (12, 36), (12, 48), (12, 60), (12, 72), (12, 84), (12, 96), (12, 108), (12, 120), (12, 132), (12, 144)]

In [15]:
# Unpack tuple to produce same output as `for` loop

for x, y in [(i, i * j) for i in range(1, 13) for j in range(1, 13)]:
    print(x, y)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
2 2
2 4
2 6
2 8
2 10
2 12
2 14
2 16
2 18
2 20
2 22
2 24
3 3
3 6
3 9
3 12
3 15
3 18
3 21
3 24
3 27
3 30
3 33
3 36
4 4
4 8
4 12
4 16
4 20
4 24
4 28
4 32
4 36
4 40
4 44
4 48
5 5
5 10
5 15
5 20
5 25
5 30
5 35
5 40
5 45
5 50
5 55
5 60
6 6
6 12
6 18
6 24
6 30
6 36
6 42
6 48
6 54
6 60
6 66
6 72
7 7
7 14
7 21
7 28
7 35
7 42
7 49
7 56
7 63
7 70
7 77
7 84
8 8
8 16
8 24
8 32
8 40
8 48
8 56
8 64
8 72
8 80
8 88
8 96
9 9
9 18
9 27
9 36
9 45
9 54
9 63
9 72
9 81
9 90
9 99
9 108
10 10
10 20
10 30
10 40
10 50
10 60
10 70
10 80
10 90
10 100
10 110
10 120
11 11
11 22
11 33
11 44
11 55
11 66
11 77
11 88
11 99
11 110
11 121
11 132
12 12
12 24
12 36
12 48
12 60
12 72
12 84
12 96
12 108
12 120
12 132
12 144