# For Loops

**Python provides several ways to repeat a block of code - `for` and `while` loops, list comprehension, and generator expressions.**

**The `for` loop iterates over a finite set of values, so it assigns each value to one or more variable and performs a block of code for each value.**

**The set of values must be contained within an *iterable*, which means anything that can be iterated over, e.g. string, list, tuple, dictionary, range etc.**

In [2]:
from IPython.core.debugger import set_trace

In [7]:
parrot = "Norwegian Blue"

set_trace()
for char in parrot:
    print(char)

--Return--
None
> c:\users\shmel\appdata\local\temp\ipykernel_22252\2630965146.py(3)<module>()

ipdb> char
'e'
ipdb> c
N
o
r
w
e
g
i
a
n

B
l
u
e

**The cells below show looping over a string to identify punctuation, then extract it.**

In [12]:
number = "£9,227,683.991 $487,562:803"

separators = ""

# Loop to identify punctuation in string, i.e. not numeric
for val in number:
    if not val.isnumeric():
        separators = separators + val

In [13]:
print(separators)

£,,. $,:

In [14]:
# Join characters if not in separators with whitespace, then split string by whitespace

digits = "".join(char if char not in separators else " " for char in number).split()

In [17]:
# Note that the list of values are still strings

type(digits[0])

str

In [18]:
print([int(num) for num in digits])

[9, 227, 683, 991, 487, 562, 803]

**Change the code to add `input()` function, and identify punctuation in strings and extract it to form list of words.**

In [26]:
import string

text = input("How do you feel today? ")

punct = ""

# Loop to identify punctuation in string
for char in text:
    if not char.isalnum():
        punct = punct + char

print()
print(punct)

How do you feel today? It's raining and I hate it. Especially since I have no life and nothing to do. I'm depressed

'     .          . '

In [27]:
words = "".join(char if char not in punct else " " for char in text).split()

print(words)

['It', 's', 'raining', 'and', 'I', 'hate', 'it', 'Especially', 'since', 'I', 'have', 'no', 'life', 'and', 'nothing', 'to', 'do', 'I', 'm', 'depressed']

**NOTE: The words `I'm`, `it's`, `there's` etc. (known as abbreviations) are split using this loop, because apostrophe `'` is considered punctuation. Therefore abbreviations end up forming two words, which is incorrect, e.g. 'I' and 'm'.**

**In this situation, you could change the code in For loop to extract characters that are alphanumeric, instead of punctuation...however, this type of example is rare!**

In [25]:
# Example of extracting numbers from user input

numbers = input("How much money have you spent today? ")

separators = ""

# Loop to identify punctuation in string, i.e. not numeric
for val in numbers:
    if not val.isnumeric():
        separators = separators + val
        
values = "".join(char if char not in separators else " " for char in numbers).split()

print(sum([int(num) for num in values]))

How much money have you spent today? £20, 45, 33
98

**NOTE: The code in cell above works when you input float numbers, e.g. £4.50. However, it will interpret the decimal point as punctuation/separator and split the float value into two integer values, 4 and 5.**

In [33]:
# Simply print out capital letters from quote

quote = """
Alright, but apart from the Sanitation, the Medicine, Education, Wine,
Public Order, Irrigation, Roads, the Fresh-Water System,
and Public Health, what have the Romans ever done for us?
"""

uppers = ""

for char in quote:
    if char.isupper():
        uppers = uppers + char
        
print(uppers)

ASMEWPOIRFWSPHR

**The `range` iterable is extremely useful, especially in Data Science and Finance analysis.**

In [1]:
# If you print i, each value appears on its own line

for i in range(1, 11):
    print("i is {}".format(i))

i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9
i is 10

In [4]:
for i in range(10, 0, -1):
    print("i is {}".format(i))

i is 10
i is 9
i is 8
i is 7
i is 6
i is 5
i is 4
i is 3
i is 2
i is 1

In [14]:
for i in range(0, 101):
    if i % 7 == 0:
        print("{} is divisible by 7".format(i))

0 is divisible by 7
7 is divisible by 7
14 is divisible by 7
21 is divisible by 7
28 is divisible by 7
35 is divisible by 7
42 is divisible by 7
49 is divisible by 7
56 is divisible by 7
63 is divisible by 7
70 is divisible by 7
77 is divisible by 7
84 is divisible by 7
91 is divisible by 7
98 is divisible by 7

In [11]:
age = int(input("How old are you? "))

if age in range(18, 71):
    print("What drink would you like?")
else:
    print("You're not allowed any booze!")

How old are you? 71
You're not allowed any booze!

In [11]:
value = 8
answer = 0

for i in range(1, 13):
    answer = value * i
    print("{0} times {1} is {2}".format(i, value, answer))

1 times 8 is 8
2 times 8 is 16
3 times 8 is 24
4 times 8 is 32
5 times 8 is 40
6 times 8 is 48
7 times 8 is 56
8 times 8 is 64
9 times 8 is 72
10 times 8 is 80
11 times 8 is 88
12 times 8 is 96

**Nested For Loops can be a headache, but it is done a lot. Look at the example of printing out the twelve-times tables. The outer loop goes round 12 times. Then there is an inner loop that goes round 12 times within each of the outer loops.**

**When `i = 1`, `j` then loops through 1-to-12 times, then `i = 2` and `j` loops 1-to-12 times again, and so on, until the outer loop stops after 12.**

In [16]:
# This is useful example to use with debugger in Spyder or JupyterLab

for i in range(1, 13):
    for j in range(1, 13):
        print("{0} times {1} is {2}".format(j, i, i * j))
    print("----------------------------------------------")

1 times 1 is 1
2 times 1 is 2
3 times 1 is 3
4 times 1 is 4
5 times 1 is 5
6 times 1 is 6
7 times 1 is 7
8 times 1 is 8
9 times 1 is 9
10 times 1 is 10
11 times 1 is 11
12 times 1 is 12
----------------------------------------------
1 times 2 is 2
2 times 2 is 4
3 times 2 is 6
4 times 2 is 8
5 times 2 is 10
6 times 2 is 12
7 times 2 is 14
8 times 2 is 16
9 times 2 is 18
10 times 2 is 20
11 times 2 is 22
12 times 2 is 24
----------------------------------------------
1 times 3 is 3
2 times 3 is 6
3 times 3 is 9
4 times 3 is 12
5 times 3 is 15
6 times 3 is 18
7 times 3 is 21
8 times 3 is 24
9 times 3 is 27
10 times 3 is 30
11 times 3 is 33
12 times 3 is 36
----------------------------------------------
1 times 4 is 4
2 times 4 is 8
3 times 4 is 12
4 times 4 is 16
5 times 4 is 20
6 times 4 is 24
7 times 4 is 28
8 times 4 is 32
9 times 4 is 36
10 times 4 is 40
11 times 4 is 44
12 times 4 is 48
----------------------------------------------
1 times 5 is 5
2 times 5 is 10
3 times 5 is 15
4 times 5 is 20
5 times 5 is 25
6 times 5 is 30
7 times 5 is 35
8 times 5 is 40
9 times 5 is 45
10 times 5 is 50
11 times 5 is 55
12 times 5 is 60
----------------------------------------------
1 times 6 is 6
2 times 6 is 12
3 times 6 is 18
4 times 6 is 24
5 times 6 is 30
6 times 6 is 36
7 times 6 is 42
8 times 6 is 48
9 times 6 is 54
10 times 6 is 60
11 times 6 is 66
12 times 6 is 72
----------------------------------------------
1 times 7 is 7
2 times 7 is 14
3 times 7 is 21
4 times 7 is 28
5 times 7 is 35
6 times 7 is 42
7 times 7 is 49
8 times 7 is 56
9 times 7 is 63
10 times 7 is 70
11 times 7 is 77
12 times 7 is 84
----------------------------------------------
1 times 8 is 8
2 times 8 is 16
3 times 8 is 24
4 times 8 is 32
5 times 8 is 40
6 times 8 is 48
7 times 8 is 56
8 times 8 is 64
9 times 8 is 72
10 times 8 is 80
11 times 8 is 88
12 times 8 is 96
----------------------------------------------
1 times 9 is 9
2 times 9 is 18
3 times 9 is 27
4 times 9 is 36
5 times 9 is 45
6 times 9 is 54
7 times 9 is 63
8 times 9 is 72
9 times 9 is 81
10 times 9 is 90
11 times 9 is 99
12 times 9 is 108
----------------------------------------------
1 times 10 is 10
2 times 10 is 20
3 times 10 is 30
4 times 10 is 40
5 times 10 is 50
6 times 10 is 60
7 times 10 is 70
8 times 10 is 80
9 times 10 is 90
10 times 10 is 100
11 times 10 is 110
12 times 10 is 120
----------------------------------------------
1 times 11 is 11
2 times 11 is 22
3 times 11 is 33
4 times 11 is 44
5 times 11 is 55
6 times 11 is 66
7 times 11 is 77
8 times 11 is 88
9 times 11 is 99
10 times 11 is 110
11 times 11 is 121
12 times 11 is 132
----------------------------------------------
1 times 12 is 12
2 times 12 is 24
3 times 12 is 36
4 times 12 is 48
5 times 12 is 60
6 times 12 is 72
7 times 12 is 84
8 times 12 is 96
9 times 12 is 108
10 times 12 is 120
11 times 12 is 132
12 times 12 is 144
----------------------------------------------

**Use of `break` and `continue` commands when using `for` loops:**

In [2]:
# Continue command does the same thing as excluding a value

shopping_list = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

for item in shopping_list:
    if item == 'spam':
        continue
        
    print("Buy", item)

Buy milk
Buy pasta
Buy eggs
Buy bread
Buy rice

In [3]:
# Break command takes you out of the loop completely when item is found

item_to_find = 'spam'
# Index position for spam (None means no value...yet)
found_at = None

# Loop over index positions in list
for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at = index
        break
        
print("'spam' is found at index", found_at)

'spam' is found at index 3

In [4]:
# In case item is not in list

item_to_find = 'albatross'
# Index position for 'albatross' (if it exists)
found_at = None

# Loop over index positions in list
for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at = index
        break
        
if found_at is not None:
    print("Item is found at index position {}".format(found_at))
else:
    print("{} not found".format(item_to_find))

albatross not found

**NOTE: Using `break` command for this purpose is not good practice - there is a much better way:**

In [6]:
item_to_find = 'spam'

if item_to_find in shopping_list:
    found_at = shopping_list.index(item_to_find)
    
print("Index position", found_at)

Index position 3

## Augmented Assignment in `for` loop

**It is necessary to increment a counter variable in a `while` loop, to stop endless looping, but you can also use augmented assignment (e.g. `x += 1`) in a `for` loop.**

In [5]:
# i.e.  5 + 5 + 5 + 5 + 5 + 5 + 5 + 5 = 40
# range(1   2   3   4   5   6   7   8)

number = 5
multiplier = 8

answer = 0

for i in range(multiplier):
    answer += number

print(answer)

40

In [9]:
# Using else to properly end the loop

numbers = [1, 45, 50, 12, 60]

for number in numbers:
    if number % 8 == 0:
        print("Number {} is divisible by 8".format(number))
        break
else:
    print("All numbers are not divisible by 8")

All numbers are not divisible by 8