# `print()` function

**The `print()` function has 5 arguments with default settings:**

    *objects
    sep=' '
    end='\n'
    file=None
    flush=False
    
**The objects can be any expression or variable, separated by a comma. Python interprets this comma as a whitespace, defined in `sep` argument. Each print statement ends on a new line, and the `flush` option is for buffering purposes. The `file` argument must be an object that can be printed.**

**NOTE: An expression is anything that can be computed to return a value. Binding a variable is an expression, but referencing the variable in another expression is also an expression.**

In [1]:
# String literal

print("Hello, World!")

Hello, World!

In [2]:
# Numeric literal

print(123456789)

123456789

In [3]:
# Math expression

print(1 + 2)

3

In [4]:
print(7 * 6)

42

In [5]:
# Multiple expressions

print(1 + 2, 7 * 6)

3 42

In [6]:
print()

In [7]:
# Concatenate strings

print("hello" + "world")

helloworld

In [8]:
print("hello" + " " + "world")

hello world

**Escape characters allow you to insert special characters in your print statements.**

In [9]:
split_string = "This string has \nbeen split over \nseveral \nlines"

print(split_string)

This string has
been split over
several
lines

In [10]:
tabbed_string = "1 \t2 \t3 \t4 \t5"

print(tabbed_string)

1 	2 	3 	4 	5

In [11]:
# Use three quotes for large text excerpts (no need to use escape characters)

print("""The human heart has hidden treasures, In secret kept, in silence sealed; 
The thoughts, the hopes, the dreams, the pleasures, 
Whose charms were broken if revealed.""")

The human heart has hidden treasures, In secret kept, in silence sealed;
The thoughts, the hopes, the dreams, the pleasures,
Whose charms were broken if revealed.

In [12]:
print("I left \xA350 \"there\" and now its gone\\missing")

I left Â£50 "there" and now its gone\missing

In [13]:
# Use raw string property (r) to allow 'raw' text - not used often

print(r"C:\Users\Shmel\repositories")

C:\Users\Shmel\repositories

**Another Python function, which accepts string input only, is the `input()` function:**

In [14]:
greeting = "Hello "

name = input("Enter name here ")

print(greeting + name)

Enter name here Smelly
Hello Smelly

# Variables

**Bind an object to a meaningful name, then reference it in another command. The name is assigned using `=` symbol, and datatype is automatically determined by Python, meaning it is a 'strongly typed' language.**

In [15]:
age = 24

In [16]:
type(age)

int

In [17]:
type(greeting)

str

**You can assign new values to an existing variable at any point:**

In [18]:
age = "24 years old"

In [19]:
type(age)

str

In [20]:
# Python can cope with differences in datatype because it is strongly typed

print(greeting + "my age is", age)

Hello my age is 24 years old

# Datatypes

**Python has built-in datatypes:**

* **numeric** (integer, float and complex numbers that have no size limit)
* **iterator** (list, tuple, dictionary and set)
* **sequence** (e.g. string, which is also an iterator, and have no size limit)
* **mapping**
* **file**
* **class**
* **exception**

**Note that all datatypes have no size limit in Python, and only your computer memory affects the amount of data you can hold.**

## Numeric Operations

**There is a specific list of operators that can be used with numerics.**

In [21]:
a, b = (12, 3)

In [22]:
a + b

15

In [23]:
a - b

9

In [24]:
a * b

36

In [25]:
a / b

4.0

In [26]:
# Division with integer result (rounded to minus infinity)

a // b

4

In [43]:
## How // is useful:

for i in range(1, a / b):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
for i in range(1, a // b):
    print(i)

1
2
3

In [28]:
# Remainder after division

a % b

0

In [29]:
a + b**2

21

**There is an operator precedence (applies to all maths, not just Python), which means there is an order of priority to how the operators are computed in an expression. Multiplication and Division have equally higher importance than addition and subtraction.**

&emsp;**`*`** &emsp;**`/`**

&emsp;**`+`** &emsp;**`-`**

In [30]:
print(a + b / 3 - 4 * 12)

-35.0

**If read from right-to-left, the expression equals 12. However, if done properly:**

**b / 3 = 1 and 4 * 12 = 48**

**The calculation becomes 12 + 1 - 48 = -35. If you need the expression to be calculated in order of appearance, use parentheses.**

In [31]:
print((((a + b) / 3) - 4) * 12)

12.0

## Sequence Operations

**You've seen how to print string statements, but you can also extract individual characters or parts of the string by 'indexing' or 'slicing' respectively.**

**NOTE: Python indexing starts from 0, not 1.**

**NOTE: Slicing starts from a given index position and moves up to, but does not include, an end index position. You can optionally add a step in the range, i.e. skip steps.**

                                            my_string[start:stop:step]
                                            
**You know you are slicing when there is a colon `:`.**

In [32]:
parrot = "Norwegian Blue"

In [33]:
parrot[0]

'N'

In [34]:
# Slicing

parrot[0:9]

'Norwegian'

In [35]:
parrot[10]

'B'

In [36]:
# Slicing

parrot[10:]

'Blue'

In [37]:
print(parrot[3])
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])

w
e

w
i
n

**Negative indexing means starting from the end of the sequence, rather then the beginning**

In [38]:
# Slicing

parrot[-4:-3]

'B'

In [39]:
# Slicing

parrot[-4:]

'Blue'

In [40]:
parrot[-14]

'N'

In [41]:
print(parrot[-11])
print(parrot[-1])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])

w
e

w
i
n

In [42]:
print(parrot[3 - 14])
print(parrot[4 - 14])
print(parrot[9 - 14])
print(parrot[3 - 14])
print(parrot[6 - 14])
print(parrot[8 - 14])

w
e

w
i
n

In [43]:
parrot[3:5]

'we'

In [44]:
# Skip one step

parrot[0:13:2]

'NreinBu'

**When you see the step value as `-1`, you can assume that the sequence is read in reverse (make sure the start value is larger than the stop value when reading in reverse):**

In [55]:
letters = "abcdefghijklmnopqrstuvwxyz"

In [67]:
# 'qpo'

letters[-10:-13:-1]

#letters[16:13:-1]

'qpo'

In [69]:
# 'edcba'

letters[4::-1]

'edcba'

In [71]:
# Last 8 characters (in reverse)

letters[:-9:-1]

'zyxwvuts'

In [61]:
letters[-1::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [62]:
letters[25::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [63]:
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

**We know that index 0 returns the first character, but what if the string is empty?**

In [72]:
empty_string = ""

In [73]:
empty_string[0]

IndexError: string index out of range

**However, if you slice the elements literally, i.e. start at the beginning and stop after 1st character, there is no error message:**

In [74]:
empty_string[:1]

''

**Why would you need to slice numerical strings?**

In [ ]:
number = "9,227,394,726,590,342,886"

In [46]:
seps = number[1::4]

print(seps)

,,,,,,

In [50]:
# Extract number with punctuation removed

digits = "".join(char if char not in seps else "" for char in number).split()

value = [int(val) for val in digits]

In [51]:
print(value)

[9227394726590342886]

In [54]:
# List with one element --> a long integer

type(value)

list

In [ ]:
# In Python, all functions return a value