# Creating SQLite Database

**SQLite is easy to use in Python, simply by importing the `sqlite3` module and connecting to a database.**

In [1]:
import sqlite3

In [13]:
db = sqlite3.connect('contacts/contacts.sqlite')

**SQLite does not care what you call the database, as long as it is a valid filename, i.e. you don't need `.db` extension.**

**In order to create a table and insert data, you need to pass each SQL statement in an `execute()` method, called off the database object - make sure to use double quotation marks to contain SQL statement. You do not use a semi-colon to terminate the SQL statements because Python automatically concatenates it for you.**

**NOTE: After working on a database, you must close the connection at the end.**

In [14]:
db.execute("CREATE TABLE IF NOT EXISTS contacts (name TEXT NOT NULL, phone INTEGER, email TEXT)")

db.execute("INSERT INTO contacts (name, phone, email) VALUES('Shely', 1234567, 'shely@email.com')")
db.execute("INSERT INTO contacts (name, phone, email) VALUES('Ryan', 2345678, 'ryan@email.com')")
db.execute("INSERT INTO contacts (name, phone, email) VALUES('Betty', 3456789, 'betty@email.com')")
db.execute("INSERT INTO contacts (name, phone, email) VALUES('Jacinta', 4567890, 'jacinta@email.com')")

OperationalError: database is locked

**Now you can query the database, using a `cursor`, which is an *iterable*:**

In [12]:
cursor = db.cursor()

cursor.execute("SELECT * FROM contacts")

for name, phone, email in cursor:
    print(f"{name} -\t{phone} | {email}")

OperationalError: database is locked

In [11]:
cursor.close()

db.close()